body{

}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.green{
    color: green;
}

.game-overview {
    background-color: white;
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 10px;
}

.game-cart {
    background-color: white;
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 10px;
}

#winkelMand {
    padding: 1em;
    border: 2px dashed gray;
    background-color: white;
    margin-top: 1em;
}