body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    color: black;
}
.innovation {
    margin-bottom: 20px;
}
.innovation h3 {
    color: #16a085;
    /* kleur is 16a085 */
}
.answer {
    font-size: 1.1em;
}
.footer {
    text-align: center;
    margin-top: 40px;
    color: gray;
}